<div class="container top30">
  <div class="row">
    <div class="col-md-3">
      <img [src]="artista.images | sinfoto" class="img-thumbnail img-circular">
    </div>
    <div class="col-md-9">
      <h1>{{artista.name}}</h1>
      <hr>

      <a [href]="artista.external_urls?.spotify" target="_blank" class="btn btn-outline-success">Abrir Spotify</a>
      <button [routerLink]="['/search']" type="button" class="btn btn-outline-danger">Regresar</button>
    </div>
  </div>

  <div class="row top30">
    <div class="col-md-12">
      <table class="table table-dark">
        <thead>
          <tr>
            <th>#</th>
            <th>Foto</th>
            <th>Nombre</th>
            <th>Popularidad</th>
            <th>Escuchar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let track of tracks; let i = index">
            <td>{{i +1}}</td>
            <td><img [src]="track.album.images | sinfoto" class="img-50"></td>
            <td>{{track.name}}</td>
            <td>{{track.popularity}}</td>
            <!-- <td><audio controls>
              <source [src]="track.preview_url">
            </audio></td> -->
            <iframe [src]="track.uri | domseguro: 'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
